$primary-color: #d98c60;
$text-color: #333;
$background-color: #f7f4ef;

.container {
    max-width: 900px;
    margin: 0;
    padding: 1rem;
}

.container h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.container p {
    font-size: 1.1em;
    margin-bottom: 3em;
}

.telefone {
    margin: 1em 0;
}

.telefone a {
    width: 50%;
    border-radius: 0.2em;
    border: 1px solid $text-color;
    text-align: center;
    padding: 1em;
    background-color: $primary-color;
    color: $text-color;

    &:hover {
        background-color: $background-color;
        border: 1px solid $primary-color;
        color: $text-color;
    }
}