.footer {
    background-color: #ac5831;
    color: #fdf1e6;
    padding: 2em;
}

.infosFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 2em;
    text-align: center;
}

.infosFooter div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    text-align: center;
}

.infosFooter h2 {
    margin-bottom: 0.5em;
}

.newsletterForm {
    padding: 1em;
}

.newsletterForm label {
    font-size: 1em;
    font-weight: 500;
}

.newsletterForm input {
    width: 100%;
    padding: 12px;
    margin: 0.5em 0;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 1em;
}

.infosFooter p {
    padding: 0.7em 0;
    max-width: 45ch;
    text-align: justify;
}

.infosFooter button {
    margin: 0.5em 0;
    padding: 12px 20px;
    border: none;
    background-color: #f1e6d7;
    color: #000;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #e2d1ba;
        transform: scale(1.1);
    }
}

.copyright {
    text-align: center;
    padding-top: 1.5em;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .infosFooter {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        text-align: left;
    }

    .infosFooter div {
        align-items: flex-start;
        text-align: left;
    }
}